@import "../tools/tools";

.container {
  max-width: 1080px !important;
  padding: 0 20px !important;
}

.title {
  font-size: 40px !important;
  text-align: center !important;
  font-weight: 500 !important;
  line-height: 120% !important;
}
